header {
  background: #684ab5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.glass-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.2),
    inset 0 0 12px rgba(255, 255, 255, 0.1);

  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.glass-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}

.glass-btn:active {
  transform: scale(0.97);
}
